body{
  padding: 0;
  margin: 0;
  background-color: #333340;
  height:100%;
  color: #C6C6C8;
}

.theme--custom-light-bg {
  background-color: #dddddd;
}
.theme--custom-dark-bg {
  background-color: #1d1d1d;
}

.catalog-logo span.material-icons{
  width: 20px
}

.hero {
  min-height: 480px;
  background-color: #37474F;
  color: #fff;
  background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.4)
          ),
          linear-gradient(
            to left,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.4)
          ), image_url('clem-onojeghuo-197522.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero a{
  color: #fff;
}

.theme--custom-light-bg {
  background-color: #dddddd;
}

.theme--custom-dark-bg {
  background-color: #1d1d1d;
}

.hero-title{
 font-size: 80px
}

.menu-button{
 background: #1D1D1D;
 border: #1D1D1D;
 color: #fff;
 padding: 20px;
 cursor: pointer;
}

.input-dark label{
  color: #C6C6C8;
}

@media screen and (max-width: 500px) {
 .hero-title{
   font-size: 40px
 }

 .hero{
   min-height: 200px;
 }
}
